.exit-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  &:hover {
    cursor: pointer;
    color: rgb(255, 255, 50);
  }

  svg {
    width: 25px;
    height: 25px;
  }
}
